<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
        <logger name="org.thymeleaf" level="WARN" />
        <logger name="com.guxingke.kblog" level="DEBUG" />
    </springProfile>

    <springProfile name="prod">
        <root level="WARN">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </root>
        <logger name="com.guxingke.kblog" level="WARN" />
        <logger name="org.thymeleaf" level="WARN" />
        <logger name="org.springframework" level="WARN" />
    </springProfile>

</configuration>