<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/assets/base.css" />
</head>
<body>
<div class="main-wrapper">
    <header>
        <nav>
            <div class="logo">
                <a href="#">小窝李</a>
            </div>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">Item1</a></li>
                <li><a href="#">Item2</a></li>
                <li id="sidebar-trigger"><a href="#">Menu</a></li>
            </ul>
        </nav>
        <div id="banner">
            <div class="inner">
                <h1>小窝李</h1>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>
                <button>了解我</button>
                <div class="more">
                    更多
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        <section class="green-section">
            <div class="wrapper">
                <h2>标题</h2>
                <div class="hr"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="icon-group">
                <span class="icon">item1</span>
                <span class="icon">item2</span>
                <span class="icon">item3</span>
            </div>
        </section>
        <section class="gray-section">
            <div class="article-preview">
                <div class="img-section">
                    <img src="img/pic01.jpg" />
                </div>
                <div class="text-section">
                    <h2>标题</h2>
                    <div class="sub-heading">
                        副标题
                    </div>
                    <p>Lorem roident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="article-preview">
                <div class="text-section">
                    <h2>标题</h2>
                    <div class="sub-heading">
                        副标题
                    </div>
                    <p>Lorem roident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="img-section">
                    <img src="img/pic02.jpg" />
                </div>
            </div>
            <div class="article-preview">
                <div class="img-section">
                    <img src="img/pic03.jpg" />
                </div>
                <div class="text-section">
                    <h2>标题</h2>
                    <div class="sub-heading">
                        副标题
                    </div>
                    <p>Lorem roident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </section>
        <section class="purple-section">
            <div class="wrapper">
                <div class="heading-wrapper">
                    <h2>标题</h2>
                    <div class="hr"></div>
                    <div class="sub-heading">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    </div>
                </div>
                <div class="card-group clearfix">
                    <div class="card">
                        <h3>标题</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="card">
                        <h3>标题</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="card">
                        <h3>标题</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="card">
                        <h3>标题</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer>
        <ul class="share-group">
            <li>item1</li>
            <li>item1</li>
            <li>item1</li>
            <li>item1</li>
        </ul>
        <div class="copy">
            &copy;小窝李
        </div>
    </footer>
</div>
<div class="mask"></div>
<div id="sidebar">
    <ul>
        <li><a href="#">item1</a></li>
        <li><a href="#">item1</a></li>
        <li><a href="#">item1</a></li>
        <li><a href="#">item1</a></li>
    </ul>
</div>
<button class="back-to-top">返回顶部</button>
<script src="/js/jquery.js"></script>
<script src="/assets/base.js"></script>
</body>
</html>